

body {
    background-color: #c3a884;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* about me styles */
#resume a {
    color: black;
    text-decoration: none;
}

.dim:hover, .dim:focus {
    opacity: 0.8;
    transition: opacity .15s ease-in;
}

#about p {
    font-size: 18px;
}

/* work styles */

#work p {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    font-size: 18px;
}

/* button that scrolls to top of page */

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

hr {
    color: #c3a884
}

#proficiencies p{
    font-size: 18px;
}

#new-projects {
    font-weight: bold;
    font-size: 30px;
}


/* media queries below! */ 
