

body {
    background-color: #c3a884;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* about me styles */
#resume a {
    color: black;
    text-decoration: none;
}

.dim:hover, .dim:focus {
    opacity: 0.8;
    transition: opacity .15s ease-in;
}

#about p {
    font-size: 18px;
}

/* work styles */

#work p {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    font-size: 18px;
}

/* button that scrolls to top of page */

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

hr {
    color: #c3a884
}

#proficiencies p{
    font-size: 18px;
}

#new-projects {
    font-weight: bold;
    font-size: 30px;
}



/* media queries below! */ 
@media screen and (max-width: 800px) {
    nav {
       padding: 2rem;
       margin-bottom: 2rem;
    }

    #nav a{
        font-size: 2rem;
    }

    #nav-items a {
        font-size: 20px;
    }

    #card {
        width:100%;
    }

    /* about section */
    #about {
        text-align:center;
    }

    #about h1 {
        font-size: 2rem;
    }

    #about p{
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }

    /*about end */

    h3 {
        text-align: center;
    }

   /* images */
    /* .bg-center {
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100%;
        } */

        /* work section */
        .bg-black {
            width: 100%;
        }

        #work  {
            align-items: center;
        }

    #allen h1 {
        text-align: center;
        font-size: 2rem;
    }
    .allen-1 {
        width: 100%;
    }

    .w-100 {
        width: 100%;
    }

    #allen p {
        text-align:center;
        font-size: 16px;
    }

    #technology-items h1 {
        font-size: 2rem;
        text-align: center;
    }

    #technology-items li {
        text-align: center;
    }

    #technologies a {
        text-align: center;
        font-size: 18px;
    }

    #futurevu h1 {
        font-size: 2rem;
    }

    #unity img {
        width: 100%;
    }

    #other-projects {
        font-size: 25px;
    }

    #new-projects {
        font-size: 25px;
    }

    #proficiencies h1 {
        font-size: 2rem;
    }

    #contact h1 {
        font-size: 2rem;
    }
}